/* Background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  z-index: -1;
  filter: brightness(0.95);
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  max-width: 800px;
  margin: 5rem auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Heading */
.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #005bb5;
  font-weight: 700;
  text-align: center;
}

/* Input Fields Styling */
.inputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  background-color: #f0faff;
  color: black;
}

.inputField:focus {
  border-color: #0070f3;
  box-shadow: 0 4px 8px rgba(0, 112, 243, 0.2);
}

/* Buttons */
.button {
  background-color: #005bb5;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  margin-top: 1rem;
}

.button:hover {
  background-color: #003e8a;
  box-shadow: 0 6px 12px rgba(0, 62, 138, 0.3);
  transform: translateY(-2px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
.profileContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profileButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.dropdownMenu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 40px;
  width: 150px;
  z-index: 1;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdownMenu ul li:hover {
  background-color: #f0f0f0;
}
